@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    hhh
    <h1>cccccddd</h1>
    AAAAAAAAAAAAAAAAAAAA
    <div class="container body-content">
      
    </div>

   
</body>
</html>
