
<div id="idCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
        <li data-target="#idCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#idCarousel" data-slide-to="1"></li>
        <li data-target="#idCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/四季.gif" />
        </div>
        <div class="item">
            <img src="~/images/spring.jpg" />
        </div>
        <div class="item">
            <img src="~/images/summer.jpg" />
        </div>
    </div>

</div>

<div class="row">
    BBBBB
</div>


<div id="idCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#idCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#idCarousel" data-slide-to="1"></li>
        <li data-target="#idCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/spring.jpg" />

        </div>
        <div class="item">
            <img src="~/images/summer.jpg" />
        </div>
        <div class="item">
            <img src="~/images/autumn.jpg" />
        </div>
        <div>
            <img src="~/images/winter.jpg" />
        </div>
        <div class="item">
            <img src="~/images/四季.gif" />
        </div>

    </div>

</div>
