
<div id="Carousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol id="carousel-indicators" class="carousel-indicators">
    </ol>
    <div id="carousel-inner" class="carousel-inner" role="listbox" style="height:400px;width:600px">
    </div>
</div>

<div id="latestArticle" class="panel panel-default" style="width:600px">
    <div class="panel-heading">
        最新
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
</div>

<div id="androidPlate" class="panel panel-default" style="width:600px">
    <div class="panel-heading">
        Android 板块
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
</div>

<div id="androidPlate" class="panel panel-default" style="width:600px">
    <div class="panel-heading">
        Visual Studio 板块
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
</div>
<script>

 $(document).ready(function () {
        $.post("/JImages/GetImage",function (result) {
            if (result.success == true) {
                var jImages = result.data;
                $('#carousel-indicators').append('<li data-target="#Carousel" data-slide-to="0" class="active"></li>');
                $('#carousel-inner').append('<div class="item active"> <img src="/images/'+jImages[0].title+'" /></div>');
                for (i = 1; i < jImages.length; i++) {
                    $('#carousel-indicators').append('<li data-target="#Carousel" data-slide-to="'+i+'" class="active"></li>');
                    $('#carousel-inner').append('<div class="item"> <img src="/images/'+jImages[i].title+'" /></div>');
                }
            }
        });
    });    
</script>




